$burger-line-margin: 5px;
$burger-line-height: 2.7px;
$burger-offset-y: $burger-line-margin+$burger-line-height;

.disabled{
    width:0 !important;
}

.no-animation {
    -webkit-animation: none !important;
    animation: none !important; 
}


.nav-burger {  
    display: none;
    align-self: center;
    margin: 30px 20px;
    width : 30px;
    .line1{
        animation: line_1_animation 0.5s ease-in forwards;
    }
    .line2{
        margin: $burger-line-margin 0;
        animation: line_2_animation 0.5s ease-in forwards;
    }
    .line3{
        animation: line_3_animation 0.5s ease-in forwards;
    }
    @media only screen and (max-width: 600px) {
        display: inline-block;
    }

    &.reverse{
        .line1{
            animation: line_1_animation_rev 0.5s ease-out forwards;
        }
        .line2{
            margin: $burger-line-margin 0;
            animation: line_2_animation_rev 0.5s ease-out forwards;
        }
        .line3{
            animation: line_3_animation_rev 0.5s ease-out forwards;
        } 
    }
}

.line1,
.line2,
.line3{
    height: 2.7px;
    width: 100%;
    border-radius: 20px;
    background-color: #86c232;
}

.navbar-mobile{
    position: relative;
    // opacity: 95%;
    height: 100vh;
    background-color: #222629;
    z-index: 10000;
    width: 25vw;
    transition: width 0.5s ease-in;
    overflow: hidden;
    @media only screen and (min-width: 600px) {
        display: none;
    }
    float: right;
    text-align: left;
}

ul{
    list-style-type: none;
    padding:10px;
    li{
        padding: 20px 0;
    }
    a{
        text-decoration: none;
        color: #86c232;
    }
}

@keyframes line_1_animation{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY($burger-offset-y);
    }
    100%{
        transform: translateY($burger-offset-y) rotate(45deg);
    }
}

@keyframes line_1_animation_rev{
    0% {
        transform: translateY($burger-offset-y) rotate(45deg)
    }
    50% {
        transform: translateY($burger-offset-y)
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes line_2_animation{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes line_2_animation_rev{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes line_3_animation{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-$burger-offset-y);
    }
    100%{
        transform: translateY(-$burger-offset-y) rotate(-45deg);
    }
}

@keyframes line_3_animation_rev{
    0% {
        transform: translateY(-$burger-offset-y) rotate(-45deg);
    }
    50% {
        transform: translateY(-$burger-offset-y);
    }
    100%{
        transform: translateY(0);
    }
}